@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 233 95% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 13% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 212 92% 83%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 233 95% 27%;
    --chart-1: 233 95% 27%;
    --chart-2: 233 75% 57%;
    --chart-3: 233 55% 77%;
    --chart-4: 210 40% 96.1%;
    --chart-5: 220 13% 91%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 233 85% 60%;
    --primary-foreground: 233 85% 15%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 216 12% 65%;
    --accent: 216 34% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 233 85% 60%;
    --chart-1: 233 85% 60%;
    --chart-2: 233 70% 50%;
    --chart-3: 233 55% 40%;
    --chart-4: 216 34% 17%;
    --chart-5: 216 20% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
